<h1>Open to All and Sundry</h1>
<div class="form">
	<%- messages() %>
	<form action="/authenticated_only" method="post">
		<p class="hint"><label for="type_here">Type Here</label></p>
		<textarea name="data" rows="10" cols="50">
			
		</textarea>
		
			<div><input type="submit" name="submit" value="Submit" id="submit" /></div>
	</form>
</div>